* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.page-actions-cont {
    height: 2rem;
    background-color: #16a085;
    display: flex;
    align-items: flex-end;
    padding-left: 1rem;
}

.page-actions {
    height: 1.5rem;
    width: 2.5rem;
    margin: 0.5rem 0.5rem 0rem 0.5rem;
    text-align: center;
    color: linen;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected-page-actions {
    background-color: #ecf0f1;
    color: black;
}

.cellprop-actions-cont {
    height: 2.5rem;
    background-color: #ecf0f1;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    /* cursor: pointer; */
}

.cellprop-actions-cont > * {
    margin: .4rem;
    color: black;
}

.cellprop-actions-cont > *:hover {
    margin: .4rem;
    color: black;
    cursor: pointer;
}

.cellprop-actions-cont > select {
    border: none;
    outline: none;
    border-radius: 2px;
    height: 1.5rem;
    /* padding: .5rem; */
}

.font-family-prop {
    padding: 0.1rem;
}

.font-size-prop {
    padding: 0.1rem;
}

.formula-actions-cont {
    height: 2rem;
    background-color: #ecf0f1;
    padding-left: 1rem;
    display: flex;
    align-items: center;
}

.formula-actions-cont > * {
    display: inline-block;
    margin-right: .7rem;
}

.formula-actions-cont > input {
    border: none;
    outline: none;
    height: 70%;
}

.formula-icon {
    width: 1.2rem;
    color: black;
}

.address-bar {
    width: 5rem;
    text-align: center;
}

.formula-bar {
    width: calc(100vw - 2.1rem - 1.2rem - 5rem);
}


.sheet-actions-cont {
    height: 2.5rem;
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: .5rem;
    padding-right: .5rem;
    /* gap: 1rem; */
}


/* .sheet-actions-cont > * {
    display: inline-block;
    
} */

.sheet-add-icon {
    width: 3vw;
    height: 90%;
    padding: .1rem;
    cursor: pointer;
}

.sheet-add-icon > * {
    color: black;
    height: 90%;
    font-size: 2rem !important;
}

.sheets-folder-cont {
    height: 80%;
    width: 98vw;
    display: flex;
    align-items: flex-end;
    overflow: auto;
}

.sheet-folder {
    height: 80%;
    text-decoration: underline;
    font-weight: bold;
    text-decoration-thickness: 3px;
    /* font-size: 0.9rem; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sheet-content {
    width: 5rem;
}

.grid-cont {
    height: calc(100vh - 9rem);
    background-color: #ecf0f1;
    position: relative;
    overflow: scroll;
}

.top-left-dummy-box {
    height: 2rem;
    width: 2rem;
    background-color: darkgrey;
    position: fixed;
    z-index: 3;
}

.address-col-cont {
    position: sticky;
    top: 2rem;
    left: 0;
}

.address-col {
    height: 2rem;
    width: 2rem;
    text-align: center;
    border: 1px solid #dfe4ea;
}

.address-row-cont {
    display: flex;
    position: sticky;
    top: 0;
    left: 2rem;
    z-index: 2;
}

.address-row {
    height: 2rem;
    width: 5rem;
    text-align: center;
    border: 1px solid #dfe4ea;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell-cont {
    /* height: 12rem;
    width: 12rem; */
    /* background-color: orange; */
    position: absolute;
    top: 0rem;
    left: 2rem;
}

.row-cont {
    display: flex;
}

.cell {
    height: 2rem;
    width: 5rem;
    border: 1px solid #dfe4ea;
    /* display: flex; */
    outline: none;
}

.color-prop {
    position: relative;
}

.color-prop > input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%
}